<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # Permitir acesso a arquivos e diretórios reais
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirecionar todas as requisições para api.php
    RewriteRule ^(.*)$ api.php?action=$1 [QSA,L]
</IfModule>
